// Variables
$font-size: 1.4rem !default;
$sidebar-font-size: 1.4rem !default;
$footer-font-size: 1.3rem !default;
$input-font-size: 1.4rem !default;
$button-font-size: 1.4rem !default;

// $primary-color: #c7a1d5  !default;
$primary-color: #ff8cb4  !default;
$primary-color-dark: #006699 !default;
$primary-text: #a35c74 !default;

$secondary-color: #9a89cd !default;
$secondary-color-dark: #2f3946 !default;
$link-color: $primary-color !default;

$lazy-image-background: #ebebeb;

$border-radius: 0 !default;

$body-text: #666666 !default;
$light-text: #999999 !default;
$dark-text: #333333 !default;
$headings-text: $dark-text !default;

$font-family: 'Poppins', sans-serif !default;
$second-font-family: 'Poppins', sans-serif !default;

$breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 768px,
	lg: 1025px,
	xl: 1280px,
	xxl: 1536px,
	xlst: 1920px
);

$max-breakpoints: (
	xs: 479px,
	sm: 575px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1536px
);